.individual-event {
    display: flex;
    padding-top:40px;
}

.event-university {
    padding-left: 50px;
    padding-right: 50px;
}

.event-title {
    font-size: 50px;
}

.event-desc {
    font-size: 25px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.event-button {
    text-align: center;
    font-weight: 600;
    color: #FFF;
    background-color: #0D8547;
    position: relative;
    height: 44px;
    border: 2px solid transparent;
    padding: 0 30px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
}

.event-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
